.container {
   display: grid;
   grid-template-columns: 1fr 50px;
   gap: 10px;

   &Value {
      display: grid;
      gap: 5px;

      div:first-child {
         font-weight: normal;
      }
   }

   &Buttons {
      display: grid;
      gap: 2px;

      button {
         border-radius: 5px;
         cursor: pointer;

         &:active {
            background-color: #333;
            svg {
               color: #fff !important;
            }
         }
      }
   }
}
