.container {
   border-radius: 50px;
   background-color: #999;
   color: #fff;
   font-weight: bold;
}

.table {
   font-size: 16px;

   .tableRow {
      // display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;

      .cell {
         padding: 20px 25px;
         flex: 1;
      }
   }
}
