.container {
   h1 {
      text-transform: capitalize;
   }
}

.linkList {
   display: grid;
   gap: 10px;
   width: 600px;
   max-width: calc(100% - 20px);
   margin: 40px 0;

   li a {
      background-color: var(--color-main-gray);
      border-radius: 30px;
      padding: 15px 15px 15px 25px;
      display: grid;
      gap: 5px;

      p {
         font-size: 14px;
      }

      &:hover {
         color: var(--color-blue);
      }
   }
}

.button {
   display: flex;
}
