@import "/styles/mixins";

.container {
   flex: 1;
   position: relative;
   display: flex;
   flex-direction: column;
   z-index: 99;

   @include breakpoint("tablet") {
      flex-direction: row;
      align-items: center;
   }

   a {
      padding: 20px 30px;
      font-size: 14px;
      transition: 0.15s ease-in-out;
      text-align: center;
      font-weight: bold;

      &:hover {
         text-decoration: underline;
      }

      image {
         width: 30px;
         height: 30px;
      }
   }

   .navToggle {
      transition: 0.2s ease-in-out;
      color: var(--color-blue);

      @include breakpoint("tablet") {
         display: none;
      }
   }
}

// Nav toggle class
.mobileOpen {
   .containerLeft {
      @include breakpoint("mobile") {
         border-top: 1px solid #e6e6e6;
         display: flex;
         padding: 10px;
         flex-direction: column;
      }

      @include breakpoint("tablet") {
      }
   }
}

.mobileOpen {
   .navToggle {
      transform: rotate(90deg);
   }

   .containerLeft {
      @include breakpoint("mobile") {
         display: flex;
      }

      @include breakpoint("tablet") {
      }
      flex-direction: column;
   }
}

.active {
   color: var(--color-blue);
   font-weight: bold;

   &:hover {
      color: var(--color-blue-hover);
      text-decoration: none !important;
   }
}
