.wrapper {
   background: #222;
   width: 100vw;
   color: #fff;
   position: relative;
   z-index: 99;

   a {
      padding: 20px;
      &:hover {
         text-decoration: underline;
      }
   }
}

.navLogo {
   padding: 20px 25px;
}
