.container {
   width: 100%;
   position: relative;

   .icon {
      position: absolute;
      height: calc(100% - 30px);
      bottom: 15px;
      padding: 0 15px 0 25px;
      display: flex;
      align-items: center;
      border-right: 2px solid #bfbfbf;
      color: #bfbfbf;
      font-size: 24px;
      transition: 0.2s ease-in-out;
   }
   input {
      width: 100%;
      --input-padding: 25px 25px 25px 80px;
      --input-border-radius: 50px;
      border: 2px solid transparent;
   }
}

.container.active {
   .icon {
      color: var(--color-green);
      border-color: var(--color-green);
   }
   input {
      border: 2px solid var(--color-green);
      background-color: #fff;
   }
}
