.button {
   border: 0;
   border-radius: 30px;
   background-color: var(--button-background);
   color: var(--button-color);
   padding: var(--button-padding);
   font-weight: 700;
   text-transform: uppercase;
   cursor: pointer;
   transition: 0.15s ease-in-out;
   letter-spacing: 0.5px;

   &:hover {
      background-color: var(--button-background-hover);
   }
}

// Sizes
.sm {
   --button-padding: 15px 20px;
}

.md {
   --button-padding: 20px 25px;
}

.lg {
   --button-padding: 30px 45px;
}

// Colors
.green {
   --button-background: var(--color-green);
}
