@import "/styles/mixins";

.container {
   display: grid;
   gap: 30px;

   &Inner {
      gap: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @include breakpoint("tablet") {
         width: 300px;
      }
   }
}
