@import "/styles/mixins";

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
   height: 100vh;
   background-color: var(--color-green);

   a {
      font-weight: bold;
   }

   &Inner {
      display: grid;
      text-align: center;
      padding: 2.5rem;
      width: 500px;
      gap: 30px;
      color: #fff;

      .buttons {
         display: grid;
         gap: 5px;

         p {
            font-size: 14px;

            a:hover {
               text-decoration: underline;
            }
         }
      }

      @include breakpoint("tablet") {
      }
   }
}
