@import "/styles/mixins";

.drillsList {
   background-color: #ebeef1;
   width: 100%;
   padding: 15px;
   border-radius: 20px;
   display: grid;
   gap: 10px;
}

.inputsInner {
   margin-bottom: 10px;
   display: grid;
   grid-template-columns: 1fr 140px;
   width: 100%;

   label {
      display: flex;
      align-items: flex-end;
      margin-bottom: -8px !important;
   }
}
.addButton {
   button {
      border-radius: 30px;
      margin-top: 30px;
   }
}
