.container {
   position: relative;
   display: flex;
   color: var(--color-font);
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   background-color: #fff;

   button {
      margin: 10px;
   }
}
