:root {
   --color-main-gray: #ebeef1;
   --color-font: #333;
   --color-white: #fff;
   --color-black: #000;
   --color-red: #800000;
   --color-red-hover: #b30000;
   // --color-green: #4fa63f;
   --color-green: #57b497;
   --color-green-hover: #3f8d74;
   --color-green-light: #5dbe9a;
   --color-blue: #3399ff;
   --color-blue-hover: #0073e6;
   --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

   // --theme-background: var(--color-brand--darker);
   // --theme-background--alt: var(--color-brand--light);
   // --theme-color: var(--color-brand--light);
   // --theme-accent: var(--color-orange--dark);
}
