:root {
   // Colors
   --color-main-gray: #ebeef1;
   --color-white: #fff;
   --color-black: #000;
   --color-red: #800000;
   --color-red-hover: #e60000;
   --color-green: #57b846;
   --color-blue: blue;
   --color-blue-hover: darkblue;

   // --theme-background: var(--color-brand--darker);
   // --theme-background--alt: var(--color-brand--light);
   // --theme-color: var(--color-brand--light);
   // --theme-accent: var(--color-orange--dark);
}
