:root {
   --font-stack: "Apercu", "Helvetica Neue", "Helvetica", "Roboto", "Open Sans",
      -apple-system, sans-serif;

   --h1-desktop: 5rem;
   --h1-mobile: 2.5rem;
   --h1: var(--h1-mobile);
   --font-h1: var(--headline-weight) var(--h1) / 1.1875 var(--font-stack);

   --h2-desktop: 4.38rem;
   --h2-mobile: 1.875rem;
   --h2: var(--h2-mobile);
   --font-h2: var(--headline-weight) var(--h2) / 1.1428571429 var(--font-stack);

   --h3-mobile: 3.12rem;
   --h3: var(--h3-mobile);
   --font-h3: var(--headline-weight) var(--h3) / 1.3 var(--font-stack);

   --h4-mobile: 1rem;
   --h4: var(--h4-mobile);
   --font-h4: var(--headline-weight) var(--h4) / 1.4285714286 var(--font-stack);
}
