* {
   text-underline-offset: 0.075em;
   text-decoration-thickness: from-font !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-feature-settings: "ss02" on;
   margin-top: 0;
   margin-bottom: 0;
}

a {
   color: inherit;
   letter-spacing: var(--link-letter-spacing);
}

ul {
   list-style-type: none;
}
