button {
   cursor: pointer;
   background-color: transparent;
   padding: 0;
   font-weight: bold;
   &:hover {
      text-decoration: underline;
   }
}

[class*="btn-"] {
   background-color: var(--button-background);
   color: var(--button-color);
   padding: var(--button-padding);
   transition: 0.15s ease-in-out;
   border: 0;
   border-radius: var(--button-border-radius);
   letter-spacing: 0.5px;
   font-weight: 500;
   text-transform: uppercase;
   text-align: center;
   cursor: pointer;
   &:hover {
      text-decoration: none;
      background-color: var(--button-background-hover);
   }

   svg {
      margin-right: 20px;
   }
}

.btnText {
   margin: 0;
   padding: 0;
   cursor: pointer;
   &:hover {
      text-decoration: underline;
   }
}

// Sizes
.btn-xs {
   --button-padding: 10px 10px;
   font-size: 14px;
}

.btn-sm {
   --button-padding: 15px 20px;
}

.btn-md {
   --button-padding: 20px 25px;
}

.btn-lg {
   font-size: 24px;
   --button-padding: 30px 45px;
}

// Custom Sizes
.btn-add {
   --button-padding: 7.5px;
   font-size: 14px;
}

// Colors
.btn-default {
   --button-color: var(--color-white);

   &:hover {
      --button-background-hover: #111;
   }
}

.btn-red {
   --button-background: var(--color-red);
   --button-color: var(--color-white);

   &:hover {
      --button-background-hover: var(--color-red-hover);
   }
}

.btn-green {
   --button-background: var(--color-green);
   --button-color: var(--color-white);

   &:hover {
      --button-background-hover: var(--color-green-hover);
   }
}

.btn-blue {
   --button-background: var(--color-blue);
   --button-color: var(--color-white);

   &:hover {
      --button-background-hover: var(--color-blue-hover);
   }
}

.btn-border-white {
   --button-background: transparent;
   --button-color: var(--color-white);
   border: 2px solid var(--color-white);

   &:hover {
      --button-background-hover: transparent;
      text-decoration: underline;
   }
}

// Aligns
.btn-left {
   text-align: left;
}

.btn-right {
   text-align: right;
}
