.container {
   display: grid;
   gap: 30px;
   grid-template-columns: 1fr;
   box-sizing: border-box;
   position: relative;
   overflow: hidden;
   // padding: 40px;
   // border: 1px solid #e6e6e6;
   // background-color: #fff;
   // box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
   // border-radius: 5px 40px 20px 40px;
   width: 600px;
   max-width: 100%;
}
.inputs {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   color: #fff;

   label {
      font-size: 16px;
      font-weight: bold;
   }

   textarea {
      min-height: 100px;
   }

   input,
   textarea {
      width: 100%;
      font-size: 16px;
      padding: 20px 25px;
      box-sizing: border-box;
      border: 0 0 5px 0;
      transform: 0.15s ease-in-out;
      outline: none;
      color: #fff;
      background-color: transparent;
      resize: none;

      &:focus {
         // background-color: #fff;
         transform: 0.15s ease-in-out;
         box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
         border-radius: 10px;
      }
   }

   ul {
      width: 100%;
      margin: 0;
      display: grid;
      gap: 10px;
   }
}

.buttons {
   display: grid;
   gap: 20px;
   grid-template-columns: 1fr 1fr;
}

.timestamp {
   font-size: 14px;
   color: #999;
   font-style: italic;
}
