.wrapper {
   position: absolute;
}

.overlay {
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
}

.inner {
   z-index: 2;
   margin-top: -50px;
   position: relative;
   background-color: #fff;
   padding: 1.3rem;
   border-radius: 20px;
}
