.container {
   display: grid;
   grid-template-columns: 40px 1fr;
   padding: 7.5px 20px 7.5px 7.5px;
   gap: 20px;
   font-size: 16px;
   position: relative;

   background-color: var(--color-blue);
   border-radius: 30px;

   .containerInner {
      display: flex;
      width: 100%;
      align-items: center;
      color: #fff;
   }

   .buttonDelete {
      --button-padding: 10px;
      border-radius: 50px;
      display: flex;
      justify-content: center;
   }
}

.name {
   color: #fff;
   padding-left: 10px;
   display: flex;
   align-items: center;
}
